@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body,html{font-family: 'Noto Sans KR',sans-serif;}
html{font-size: 10px}
body{font-size: 1.6rem}
.body_wrap{min-width: 1080px}
.tct{text-align: center !important}
.tlt{text-align: left !important}
.trt{text-align: right !important}
.clear::after{content: '';display: block;clear: both}
.fl{float: left}
.fr{float: right}
.textUnder{text-decoration: underline}
.mt5{margin-top: .5rem !important}
.mt10{margin-top: 1rem !important}
.mt15{margin-top: 1.5rem !important}
.mt20{margin-top: 2rem !important}
.mt30{margin-top: 3rem !important}
.ml20{margin-left:2rem}
.miw250{min-width: 250px}
.inner{width: 1260px;margin: auto;}
.bold{font-weight: bold}
.f18{font-size: 1.8rem}
.f16{font-size: 1.6rem}
.f14{font-size: 1.4rem}
.f12{font-size: 1.2rem}
.gray{color: #888}
.red{color: #f34e28}
.flex{display: flex;}
.flex_center{align-items: center;}
.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.mr15{margin-right: 15px}
.mr20{margin-right: 20px}

.line{margin: 0;background: #70747b}
.line02{margin: 0;border: 0;border-top: 2.5px solid #323437;margin-top: 15px}
.w30{width: 30px;}
.w50{width: 50px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w140{width: 140px}
.w200{width: 200px}
.w300{width: 300px}
.w10p{width: 10%}
.w20p{width: 20%}
.w30p{width: 30%}
.w40p{width: 40%}
.w50p{width: 50%}
.w60p{width: 60%}
.w70p{width: 70%}
.w80p{width: 80%}
.w90p{width: 90%}
.w100p{width: 100%}
.h30{height: 30px}
.h50{height: 50px}
.h60{height: 60px}
.h70{height: 70px}
.h80{height: 80px}
.h90{height: 90px}
.h100{height: 100px}
.h150{height: 150px}
.h200{height: 200px}
.h300{height: 300px}

/* tabs */
.tabs{display: flex;}
.tabs li a{display: block;padding: 1rem;border-radius: 10px 10px 0 0;font-size: 16px;width: 120px;text-align: center;background: #eeeeee;color: #555555}
.tabs li.active a{background: #70747b;color: #fff}

/* header */
#header .header_nav{background: #323437;padding:  0 40px;display: flex;align-items: center;position: fixed;top: 0;left: 0;width: 100%;z-index: 999}
#header .header_nav .gnb_wrap{margin-left: 170px}
#header .header_nav .gnb{display: flex;}
#header .header_nav .gnb li a{color: #fff;}
#header .header_nav .gnb > li {width: 170px;margin-right: 10px;position: relative;}
#header .header_nav .gnb > li:last-child{margin-right: 0}
#header .header_nav .gnb > li > a{font-size: 1.8rem;padding: 34px 0;display: block;}
#header .header_nav .gnb > li > a:hover,
#header .header_nav .gnb > li > a:active,
#header .header_nav .gnb > li > a:focus{color: #f49038;}
#header .header_nav .gnb > li.active > a{color: #f49038;}
#header .header_nav .gnb > li ul{position: absolute;top: 86px;left: 0;padding-top: 22px;display: none}
#header .header_nav .gnb > li > ul > li {}
#header .header_nav .gnb > li > ul > li:last-child{padding-bottom: 38px}
#header .header_nav .gnb > li > ul > li > a{display: block;position: relative;z-index: 9999;padding: 10px 0}
#header .header_nav .gnb > li > ul > li > a:hover,
#header .header_nav .gnb > li > ul > li > a:active,
#header .header_nav .gnb > li > ul > li > a:focus{color: #f49038;font-weight: 500}
#header .header_nav .gnbBg{background: #323437;position: absolute;left: 0;top: 86px;border-top: 1px solid #a0a0a0;width: 100%;height: 302px;display: none;z-index:999}
#header .header_nav .gnb_wrap.open ul > li > ul{display: block}
#header .sidebar_menu{position: fixed;width: 260px;height: calc(100% - 86px);top: 86px; background: #fff;z-index: 777;transition: all 0.3s}
#header .sidebar_menu .hide_btn{background: url(../images/hide_btn_bg.png) no-repeat;width: 30px;height: 112px;position: absolute;right: -30px;top: 100px}
#header .sidebar_menu .hide_btn span{display: block;background: url(../images/hide_btn.png) no-repeat;width: 8px;height: 14px;position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%)}
#header .sidebar_menu .hide_btn.active span{transform: rotate(180deg) translate(50%,50%)}
#header .sidebar_menu.hide{margin-left: -260px;}
#header .sidebar_menu .account{text-align: center;padding: 50px 0 32px 0;border-bottom: 1px solid #f7f8f9}
#header .sidebar_menu .account h3{font-size: 1.8rem;font-weight: 500;margin-bottom: 24px}
#header .sidebar_menu .account .btn_wrap {text-align: center;}
#header .sidebar_menu .account .btn_wrap a{display: inline-block;font-size: 1.4rem;color: #aaa;border: 1px solid #dddddd;padding: 7px 14px;border-radius: 5px}
#header .sidebar_menu .account .btn_wrap a + a{margin-left: 10px}
#header .sidebar_menu .account .btn_wrap .homepage{background: #f3f3f3}
#header .sidebar_menu .side_menu {max-height: calc(100% - 155px);overflow-y: auto;-ms-overflow-style: none;}
#header .sidebar_menu .side_menu::-webkit-scrollbar{display:none;
}
#header .sidebar_menu .side_menu > li > a{padding: 17px 40px;position: relative;border-bottom: 1px solid #eeeeee;}
#header .sidebar_menu .side_menu > li > a:after{content: '';display:block;background: url(../images/mn_arrow.png) no-repeat;width: 12px;height: 6px;position: absolute;right: 40px;top: 50%;transform: translateY(-50%)}
#header .sidebar_menu .side_menu > li.active > a{font-weight:500}
#header .sidebar_menu .side_menu > li.active > a:after{transform: rotate(180deg) translateY(50%)}
#header .sidebar_menu .side_menu > li > a:only-child:after{display: none}
#header .sidebar_menu .side_menu > li a{display: block;}
#header .sidebar_menu .side_menu > li > ul {background: #eeeeee;padding: 2rem 4.8rem;display: none;}
#header .sidebar_menu .side_menu > li.active > ul{display: block;}
#header .sidebar_menu .side_menu > li > ul > li {margin-bottom:1.5rem }
#header .sidebar_menu .side_menu > li > ul > li:last-child{margin-bottom: 0}
#header .sidebar_menu .side_menu > li > ul > li > a{font-size: 1.4rem}
#header .sidebar_menu .side_menu > li > ul > li.active > a{color: #f49038;font-weight: 500;}
#header .sidebar_menu .side_menu > li > ul > li > a:hover,
#header .sidebar_menu .side_menu > li > ul > li > a:active,
#header .sidebar_menu .side_menu > li > ul > li > a:focus{color: #f49038;font-weight: 500;}
.content_wrapper{padding-left: 60px;padding: 130px 60px 50px 320px;transition: all 0.3s;background: #f7f8f9;min-height: 100vh;box-sizing: border-box}
.content_wrapper.full{padding-left: 60px}
.content_wrapper .page-title{display: flex;justify-content: space-between;align-items:flex-end;margin-bottom: 2rem}
.content_wrapper .page-title h3{font-weight: 500;font-size: 2.4rem}
.content_wrapper .page-title .breadcrumb li {float: left;font-size: 1.4rem;}
.content_wrapper .page-title .breadcrumb li:before{content: '';display: block;background: url(../images/bc_arrow.png) no-repeat;width: 7px;height: 12px;margin:2px 10px;float: left}
.content_wrapper .page-title .breadcrumb li:first-child:before{display: none}
.content_wrapper .page-title .breadcrumb li:last-child{font-weight: bold}

